* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.buttonlanding {
  font-weight: bold;
  background-color: #f60404;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 32px;
  border: #f60404;
}

.buttonlanding:hover {
  background-color: #d72d2d;
}
